<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>name.guoc.excerptor.Excerptor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>excerptor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 guoc. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>E</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Excerptor: Excerpt Selection To Pasteboard</string>
			</dict>
			<key>NSMessage</key>
			<string>getSelectionLink</string>
			<key>NSPortName</key>
			<string>Excerptor</string>
			<key>NSRequiredContext</key>
			<array>
				<dict>
					<key>NSApplicationIdentifier</key>
					<string>com.apple.Preview</string>
				</dict>
				<dict>
					<key>NSApplicationIdentifier</key>
					<string>net.sourceforge.skim-app.skim</string>
				</dict>
			</array>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>Get a link to Excerptor app which can redirect to Preview/Skim app with current selection selected.</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Excerptor: Excerpt Selection To File</string>
			</dict>
			<key>NSMessage</key>
			<string>getSelectionFile</string>
			<key>NSPortName</key>
			<string>Excerptor</string>
			<key>NSRequiredContext</key>
			<array>
				<dict>
					<key>NSApplicationIdentifier</key>
					<string>com.apple.Preview</string>
				</dict>
				<dict>
					<key>NSApplicationIdentifier</key>
					<string>net.sourceforge.skim-app.skim</string>
				</dict>
			</array>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>Create a selection file containing current text selection in a specified location (configure in Excerptor).</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Excerptor: Get Annotation Files</string>
			</dict>
			<key>NSMessage</key>
			<string>getAnnotationFiles</string>
			<key>NSPortName</key>
			<string>Excerptor</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>NSServiceDescription</key>
			<string>Create annotation files containing current PDF file's annotations in a specified location (configure in Excerptor).</string>
		</dict>
	</array>
</dict>
</plist>
