<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SelectionLinkPlainText</key>
	<string>{{SelectionLink_DEVONthinkUUID}}</string>
	<key>SelectionLinkRichText</key>
	<string>[{{SelectionText}}]({{SelectionLink_DEVONthinkUUID}})</string>
	<key>SelectionFileContent</key>
	<string>&gt; {{SelectionText}}

[{{PDFFileName}}]({{SelectionLink_DEVONthinkUUID}})

{{CreationDate}} excerpted by {{UserName}}
</string>
	<key>AnnotationFileContent</key>
	<string>&gt; {{AnnotationText}}

{{NoteText}}

[{{PDFFileName}}]({{AnnotationLink_DEVONthinkUUID}})

{{AnnotationDate}} annotated by {{Author}}
</string>
</dict>
</plist>
